body {
  overflow: hidden;
  text-align: center;
  padding-top: 100px;
}

#app {
}

.char, .word {
  display: inline-block;
}

.anagram-container {
  position: absolute;
  width: 100%;
}

.invisible {
  opacity: 0;
}
