body {
  overflow: hidden;
  text-align: center;
  padding-top: 100px;
  font-family: 'Playfair Display'
}

.container {}



.char, .word {
  display: inline-block;
}

.anagram-container {
  width: 300px;
  margin: 0 auto;
}

.invisible {
  position: absolute;
  opacity: 0;
}
